.font-caveat {
  font-family: 'Caveat', cursive;
}

.font-lexend {
  font-family: 'Lexend', sans-serif;
}

.font-space {
  font-family: 'Space Grotesk', sans-serif;
}
.fontOnest {
  font-family: 'Onest', sans-serif;
}